.dateParagraph{
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    text-decoration: underline;
}
#paragraph1{
    text-align:center;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}

table,td{
    border: 1px solid; 
}
table{
    width: 60%;
    border-collapse: collapse;
    margin: 0 auto; 
    background-color: #e1e6eb;
}
.total{
    text-align: right;
    font-weight: bolder;
    font-size: large;   
}
.headings{
    text-align: center;
    font-weight: bolder;
    font-size: large;  
}
button{
    margin-top: 10px;
    font-size: medium;
   
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
    background-color: #ecde14;
    outline: none;
    border: none;
}
button:hover{
background-color: blueviolet;
color: white;
}


body{
    /*  background: peru; */
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     background-image: url("bg1.jpg");
     background-size: cover;
 }
 .loginbox{
     width: 300px;
     height: 380px;
     background: #1c2833;
     color: white;
     margin: 70px auto;
     border-radius: 10px;
 }
 .logo{
     width: 100px;
     height:100px;
     position: relative;
     top: -70px;
     left: calc(50% - 50px);
 }
 .logo1{
     width: 100px;
     height:100px;
     position: relative;
     /* top: 70px; */
     left: calc(50% - 50px);
 }
 h1{
     text-align: center;
     margin-top: -60px;
 }
 h2{
     text-align: center;
     background-color: #ecde14;
     padding: 30px;
 }
 
 label{
     font-size: 18px;
     display: block;
     margin-left: 20px;
 }
 input[type="text"]{
    font-size:medium;
 }
 input.loginText{
     width: 80%;
     margin: 0 0 20px 20px;
 }
 .loginText[type="text"],input[type="password"]{
     border: none;
     background: transparent;
     border-bottom: 1px solid #fff;
     height: 40px;
     outline: none;
     color: white;
     font-size: 16px;
    
 }
 input[type="submit"]{
     border: none;
     outline: none;
     height: 40px;
     border-radius: 20px;
     background: #ecde14;
     font-size: 20px;
     cursor: pointer;
 }
 
 a{
     text-decoration: none;
     color: white;
     margin-left: 30%;
 }
 #designBy{
    color: black;
    margin: 0;
    text-decoration: underline;
 }
 #designBy:hover{
    color: blue;
 }
 
 input[type="submit"]:hover{
     background: blueviolet;
     color: white;
 }

 .h3style{
    text-align: center; 
    line-height: 0px;
 }
 .smallNumInp{
    width: 100px;
 }
